POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DBNAME=
POSTGRES_SSLMODE=
POSTGRES_MAX_OPEN_CONNS=
POSTGRES_MAX_IDLE_CONNS=
POSTGRES_LIFETIME_OPEN_CONNS=
POSTGRES_LIFETIME_IDLE_CONNS=

APP_PORT=
